* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  margin: 15% 0px;
}
#header {
  margin: 10px 0px;
  text-align: center;
  color: rgb(206, 101, 255);
}
#quotes {
  margin: 10px 200px;
  padding: 20px 25px;
  border-radius: 5px;
  text-align: center;
  font-size: larger;
  color: white;
  background-color: rgb(193, 60, 255);
}
.btn-div {
  text-align: center;
}
#refresh {
  margin: 10px 0px;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: large;
  color: white;
  border-radius: 4px;
  background-color: rgb(206, 101, 255);
}
#refresh:hover {
  background-color: rgb(255, 67, 255);
  transition: 0.3s;
}
